@model Application.Commands.Setting.SettingDto

@{
    ViewData["Title"] = "تنظیمات";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Style {
    <style>
        #map {
            width: 100%;
            height: 400px;
        }
    </style>
    <link rel="stylesheet" href="~/map/leaflet.css" />  
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/map/leaflet.js"></script>
}
@section Script {
    <script src="~/assets/js/upload.js"></script>
    <script src="~/assets/js/setting/general.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var selectedLat = parseFloat(document.getElementById('lat').value);
            var selectedLng = parseFloat(document.getElementById('lng').value);

            var map = L.map('map').setView([selectedLat, selectedLng], 13);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19
            }).addTo(map);

            map.on('click', function (e) {
                document.getElementById('lat').value = e.latlng.lat;
                document.getElementById('lng').value = e.latlng.lng;
            });

            var marker = L.marker([selectedLat, selectedLng], {
                draggable: true
            }).addTo(map);

            marker.on('dragend', function (e) {
                document.getElementById('lat').value = e.target.getLatLng().lat;
                document.getElementById('lng').value = e.target.getLatLng().lng;
            });
        });
    </script>
}

<nav aria-label="breadcrumb">
    <ol class="lh-1-85 breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Admin">پیشخوان</a>
        </li>
       

        <li class="breadcrumb-item ">تنظیمات</li>
        <li class="breadcrumb-item active">عمومی</li>
    </ol>
</nav>

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header">

                <h5 class=" heading-color">تنظیمات</h5>
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.ErrorMessage
                    </div>
                }
            </div>
            <form asp-area="Admin" asp-controller="Setting" asp-action="General"
            method="post" class="card-body" enctype="multipart/form-data">
                <div style="background-color:#eeeeee" class="accordion-item card border rounded-3 p-3 mt-5">
                    <h2 class="accordion-header">
                        <button type="button" class="accordion-button"
                                data-bs-toggle="collapse"
                                data-bs-target="#accordionStyle1-3" aria-expanded="true">
                           عمومی
                        </button>
                        <hr />
                    </h2>

                    <div id="accordionStyle1-3" class="accordion-collapse collapse  show" data-bs-parent="#accordionStyle3" style="">
                        <div class="accordion-body ">




                            <div class="row">
                                <div class="col-6">
                                    @if (Model.TopLogoPathEn == "default.jpg" || string.IsNullOrEmpty(Model.TopLogoPathEn))
                                    {
                                        <img id="imagePath_1" width="100" height="80"
                                             src="~/Gallery/default.jpg" />
                                    }
                                    else
                                    {



                                        <img id="imagePath_1" width="100" height="80"
                                             src="~/Gallery/Setting/@Model.TopLogoPathEn " />
                                    }
                                    <br />
                                    <label class="form-label mt-2">لوگو سربرگ انگلیسی</label>
                                    <input accept=".jpg, .jpeg, .png, .webp" asp-for="TopLogoFileEn" onchange="ChangeImage(this,1)" class="form-control" type="file" />
                                </div>
                                <div class="col-6">

                                    @if (Model.BottomLogoPathEn == "default.jpg" || string.IsNullOrEmpty(Model.BottomLogoPathEn))
                                    {
                                        <img id="imagePath_2" width="100" height="80"
                                             src="~/Gallery/default.jpg" />
                                    }
                                    else
                                    {

                                        <img id="imagePath_2" width="100" height="80"
                                             src="~/Gallery/Setting/@Model.BottomLogoPathEn " />
                                    }
                                    <br />
                                    <label class="form-label mt-2">لوگو پابرگ انگلیسی</label>
                                    <input accept=".jpg, .jpeg, .png, .webp" asp-for="BottomLogoFileEn" onchange="ChangeImage(this,2)" class="form-control" type="file" />
                                </div>


                            </div>



                            <div class="row mt-4">
                                <div class="col-4">
                                    @if (Model.TopLogoPathFa == "default.jpg" || string.IsNullOrEmpty(Model.TopLogoPathFa))
                                    {
                                        <img id="imagePath_4" width="100" height="80"
                                             src="~/Gallery/default.jpg" />
                                    }
                                    else
                                    {



                                        <img id="imagePath_4" width="100" height="80"
                                             src="~/Gallery/Setting/@Model.TopLogoPathFa " />
                                    }
                                    <br />
                                    <label class="form-label mt-2"> لوگو سربرگ فارسی</label>
                                    <input accept=".jpg, .jpeg, .png, .webp" asp-for="TopLogoFileFa" onchange="ChangeImage(this,4)" class="form-control" type="file" />
                                </div>
                                <div class="col-4">

                                    @if (Model.BottomLogoPathFa == "default.jpg" || string.IsNullOrEmpty(Model.BottomLogoPathFa))
                                    {
                                        <img id="imagePath_5" width="100" height="80"
                                             src="~/Gallery/default.jpg" />
                                    }
                                    else
                                    {

                                        <img id="imagePath_5" width="100" height="80"
                                             src="~/Gallery/Setting/@Model.BottomLogoPathFa " />
                                    }
                                    <br />
                                    <label class="form-label mt-2">لوگو پابرگ فارسی</label>
                                    <input accept=".jpg, .jpeg, .png, .webp" asp-for="BottomLogoFileFa" onchange="ChangeImage(this,5)" class="form-control" type="file" />
                                </div>

                                <div class="col-4">

                                    @if (Model.LicenseLogo == "default.jpg" || string.IsNullOrEmpty(Model.LicenseLogo))
                                    {
                                        <img id="imagePath_7" width="100" height="80"
                                             src="~/Gallery/default.jpg" />
                                    }
                                    else
                                    {

                                        <img id="imagePath_7" width="100" height="80"
                                             src="~/Gallery/Setting/@Model.LicenseLogo " />
                                    }
                                    <br />
                                    <label class="form-label mt-2">لوگو مجوزها</label>
                                    <input accept=".jpg, .jpeg, .png, .webp" asp-for="LicenseLogoFile"
                                    onchange="ChangeImage(this,7)" class="form-control" type="file" />
                                </div>
                            </div>





















                            <div class="row">

                                <div class="col-6">
                                    <label class="form-label">ساعت کاری (فارسی)</label>
                                    <input asp-for="WorkingHoursFa" type="text" class="form-control" />
                                </div>

                                <div class="col-6">
                                    <label class="form-label">ساعت کاری (انگلیسی)</label>
                                    <input asp-for="WorkingHoursEn" type="text" class="form-control" />
                                </div>



                                <div class="col-3">
                                    <label class="form-label">لینکدین</label>
                                    <input asp-for="Linkedin" type="text" class="form-control" />
                                </div>

                                <div class="col-3">
                                    <label class="form-label">اینستاگرام</label>
                                    <input asp-for="Instagram" type="text" class="form-control" />
                                </div>

                                <div class="col-3">
                                    <label class="form-label">واتساپ</label>
                                    <input asp-for="WhatsApp" type="text" class="form-control" />
                                </div>

                                <div class="col-3">
                                    <label class="form-label">تلگرام</label>
                                    <input asp-for="Telegram" type="text" class="form-control" />
                                </div>
                                <div class="col-3">
                                    <label class="form-label">لینک ویدئو آپارات</label>
                                    <input asp-for="Video" type="text" class="form-control" />
                                </div>
                                <div class="col-3">
                                    <label class="form-label">پست الکترونیک</label>
                                    <input asp-for="Email" type="text" class="form-control" />
                                </div>
                                <div class="col-3">
                                    <label class="form-label">شماره تماس</label>
                                    <input asp-for="ContactNumber" type="text" class="form-control" />
                                </div>
                                <div class="col-3">
                                    <label class="form-label">سابقه</label>
                                    <input asp-for="YearsExperience" type="text" class="form-control" />
                                </div>

                                <div class="col-6">
                                    <label class="form-label">نشانی (فارسی)</label>
                                    <textarea asp-for="LocationFa"
                                              type="text" class="form-control" rows="4">
                                                  </textarea>
                                </div> <div class="col-6">
                                    <label class="form-label">نشانی (انگلیسی)</label>
                                    <textarea asp-for="LocationEn"
                                              type="text" class="form-control" rows="4">
                                                  </textarea>
                                </div>

                                <div class="col-6">
                                    <label class="form-label">توضیحات پابرگ(فارسی)</label>
                                    <textarea asp-for="DescriptionFa"
                                              type="text" class="form-control" rows="7">
                                                  </textarea>
                                </div>

                                <div class="col-6">
                                    <label class="form-label">توضیحات پابرگ(انگلیسی)</label>
                                    <textarea asp-for="DescriptionEn"
                                              type="text" class="form-control" rows="7">
                                                  </textarea>
                                </div>


                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    @if (Model.AboutImagePath == "default.jpg" || string.IsNullOrEmpty(Model.AboutImagePath))
                                    {
                                        <img id="imagePath_3" width="100" height="80"
                                             src="~/Gallery/default.jpg" />
                                    }
                                    else
                                    {



                                        <img id="imagePath_3" width="100" height="80"
                                             src="~/Gallery/Setting/@Model.AboutImagePath " />
                                    }
                                </div>
                                <div class="col-4">
                                    <label class="form-label mt-2">تصویر درباره ما</label>
                                    <input accept=".jpg, .jpeg, .png, .webp" asp-for="AboutImageFile" onchange="ChangeImage(this,3)" class="form-control" type="file" />
                                </div>
                            </div>


                            <div class="col-12">
                                <label class="form-label">درباره ما (فارسی)</label>
                                <textarea asp-for="AboutFa" id="AboutFa"
                                          type="text" class="form-control" rows="7">
                                                  </textarea>
                            </div>

                            <div class="col-12">
                                <label class="form-label">درباره ما (انگلیسی)</label>
                                <textarea asp-for="AboutEn" id="AboutEn"
                                          type="text" class="form-control" rows="7">
                                                  </textarea>
                            </div>
                            <div class="col-12">
                                <div class="form-group ">
                                    <div style="z-index:0" id="map"></div>
                                    <input type="hidden" asp-for="Latitude" class="form-control" id="lat">
                                    <input type="hidden" asp-for="Longitude" class="form-control" id="lng">
                                </div>
                            </div>

                            <input type="hidden" asp-for="Longitude" id="lan" />
                            <input type="hidden" asp-for="Latitude" id="lat" />
                            <input type="hidden" asp-for="AboutImagePath" />
                            <input type="hidden" asp-for="BottomLogoPathEn" />
                            <input type="hidden" asp-for="TopLogoPathEn" />
                            <input type="hidden" asp-for="AcademyImagePath" />
                            <input type="hidden" asp-for="LicenseLogo" />
                            <input type="hidden" asp-for="BottomLogoPathFa" />
                            <input type="hidden" asp-for="TopLogoPathFa" />
                            <input type="hidden" asp-for="AboutImage" />
                        </div>
                    </div>
                </div>

            


                <div style="background-color:#eeeeee" class="accordion-item card border rounded-3 p-3 mt-5">
                    <h2 class="accordion-header">
                        <button type="button" class="accordion-button"
                                data-bs-toggle="collapse"
                                data-bs-target="#accordionStyle1-2" aria-expanded="true">
                           درباره ما
                        </button>
                        <hr />
                    </h2>

                    <div id="accordionStyle1-2" class="accordion-collapse collapse " data-bs-parent="#accordionStyle2" style="">
                        <div class="accordion-body ">
                           <div class="row">
                                <div class="col-12">
                                    @if (Model.TopLogoPathEn == "default.jpg" || string.IsNullOrEmpty(Model.AboutImage))
                                    {
                                        <img id="imagePath_6" width="100" height="80"
                                             src="~/Gallery/default.jpg" />
                                    }
                                    else
                                    {



                                        <img id="imagePath_6" width="100" height="80"
                                             src="~/Gallery/Setting/@Model.AboutImage " />
                                    }
                                    <br />
                                    <label class="form-label mt-2">لوگو سربرگ انگلیسی</label>
                                    <input accept=".jpg, .jpeg, .png, .webp" asp-for="AboutPageImageFile" onchange="ChangeImage(this,6)"
                                    class="form-control w-25" type="file" />
                                </div>


                                <div class="col-6">
                                    <label class="form-label">عنوان فارسی</label>
                                    <input asp-for="AboutTitleFa" type="text" class="form-control" />
                                </div>

                                <div class="col-6">
                                    <label class="form-label">عنوان انگلیسی</label>
                                    <input asp-for="AboutTitleEn" type="text" class="form-control" />
                                </div>

                                <div class="col-12">
                                    <label class="form-label">درباره ما (فارسی)</label>
                                    <textarea asp-for="AboutDescriptionFa" id="AboutPageFa"
                                              type="text" class="form-control" rows="7">
                                                  </textarea>
                                </div>

                                <div class="col-12">
                                    <label class="form-label">درباره ما (انگلیسی)</label>
                                    <textarea asp-for="AboutDescriptionEn" id="AboutPageEn"
                                              type="text" class="form-control" rows="7">
                                                  </textarea>
                                </div>

                           </div>
                        </div>
                    </div>
                </div>




                <div style="background-color:#eeeeee" class="accordion-item card border rounded-3 p-3 mt-5">
                    <h2 class="accordion-header">
                        <button type="button" class="accordion-button"
                                data-bs-toggle="collapse"
                                data-bs-target="#accordionStyle1-4" aria-expanded="true">
                            آکادمی
                        </button>
                        <hr />
                    </h2>

                    <div id="accordionStyle1-4" class="accordion-collapse collapse " data-bs-parent="#accordionStyle4" style="">
                        <div class="accordion-body ">
                            <div class="row">
                                <div class="col-12">
                                    @if (Model.AcademyImagePath == "default.jpg" ||
                                    string.IsNullOrEmpty(Model.AcademyImagePath))
                                    {
                                        <img id="imagePath_8" width="100" height="80"
                                             src="~/Gallery/default.jpg" />
                                    }
                                    else
                                    {



                                        <img id="imagePath_8" width="100" height="80"
                                             src="~/Gallery/Setting/@Model.AcademyImagePath " />
                                    }
                                    <br />
                                    <label class="form-label mt-2">تصویر آکادمی</label>
                                    <input accept=".jpg, .jpeg, .png, .webp"
                                    asp-for="AcademyImageFile" onchange="ChangeImage(this,8)"
                                           class="form-control w-25" type="file" />
                                </div>


                                <div class="col-6">
                                    <label class="form-label">عنوان فارسی</label>
                                    <input asp-for="AcademyTitleFa" type="text" class="form-control" />
                                </div>

                                <div class="col-6">
                                    <label class="form-label">عنوان انگلیسی</label>
                                    <input asp-for="AcademyTitleEn" type="text" class="form-control" />
                                </div>

                                <div class="col-12">
                                    <label class="form-label">متن (فارسی)</label>
                                    <textarea asp-for="AcademyTextFa"
                                              type="text" class="form-control" rows="7">
                                                  </textarea>
                                </div>

                                <div class="col-12">
                                    <label class="form-label">متن (انگلیسی)</label>
                                    <textarea asp-for="AcademyTextEn"
                                              type="text" class="form-control" rows="7">
                                                  </textarea>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>






















                <div style="background-color:#eeeeee" class="accordion-item card border rounded-3 p-3 mt-5">
                    <h2 class="accordion-header">
                        <button type="button" class="accordion-button"
                                data-bs-toggle="collapse"
                                data-bs-target="#accordionStyle1-1" aria-expanded="true">
                           منو پابرگ
                        </button>
                        <hr />
                    </h2>

                    <div id="accordionStyle1-1" class="accordion-collapse collapse " data-bs-parent="#accordionStyle1" style="">
                        <div class="accordion-body ">

                           <div class="row">
                                <div class="col-3">
                                    <label>عنوان ستون اول (فارسی)</label>
                                    <input type="text" asp-for="ColumnOneTitleFa" class="form-control"/>
                                </div>
                                <div class="col-3">
                                    <label>عنوان ستون اول (انگلیسی)</label>
                                    <input type="text" asp-for="ColumnOneTitleEn" class="form-control" />
                                </div>


                                <div class="col-3">
                                    <label>عنوان ستون دوم (فارسی)</label>
                                    <input type="text" asp-for="ColumnTwoTitleFa" class="form-control" />
                                </div>
                                <div class="col-3">
                                    <label>عنوان ستون دوم (انگلیسی)</label>
                                    <input type="text" asp-for="ColumnTwoTitleEn" class="form-control" />
                                </div>

                           </div>

                            <div class="row mt-3">
                                <div class="col-3">
                                    <label>عنوان فارسی آیتم اول (فارسی)</label>
                                    <input type="text" asp-for="ColumnOneItemOneTitleFa" class="form-control" />
                                </div>
                                <div class="col-3">
                                    <label>عنوان فارسی آیتم اول (انگلیسی)</label>
                                    <input type="text" asp-for="ColumnOneItemOneTitleEn" class="form-control" />
                                </div>

                                <div class="col-3">
                                    <label>عنوان فارسی آیتم اول (فارسی)</label>
                                    <input type="text" asp-for="ColumnTwoItemOneTitleFa" class="form-control" />
                                </div>
                                <div class="col-3">
                                      <label>عنوان فارسی آیتم اول (انگلیسی)</label>
                                    <input type="text" asp-for="ColumnTwoItemOneTitleEn" class="form-control" />
                                </div>

                                <div class="col-6 mt-2">
                                    <label>لینک آیتم اول</label>
                                    <input type="text" asp-for="ColumnOneItemOneLink" class="form-control" />
                                </div>
                                <div class="col-6  mt-2">
                                    <label>لینک آیتم اول</label>
                                    <input type="text" asp-for="ColumnTwoItemOneLink" class="form-control" />
                                </div>

                            </div>


                            <div class="row mt-3">
                                <div class="col-3">
                                    <label>عنوان فارسی آیتم دوم (فارسی)</label>
                                    <input type="text" asp-for="ColumnOneItemTwoTitleFa" class="form-control" />
                                </div>
                                <div class="col-3">
                                    <label>عنوان فارسی آیتم دوم (انگلیسی)</label>
                                    <input type="text" asp-for="ColumnOneItemTwoTitleEn" class="form-control" />
                                </div>

                                <div class="col-3">
                                    <label>عنوان فارسی آیتم دوم (فارسی)</label>
                                    <input type="text" asp-for="ColumnTwoItemTwoTitleFa" class="form-control" />
                                </div>
                                <div class="col-3">
                                    <label>عنوان فارسی آیتم دوم (انگلیسی)</label>
                                    <input type="text" asp-for="ColumnTwoItemTwoTitleEn" class="form-control" />
                                </div>

                                <div class="col-6 mt-2">
                                    <label>لینک آیتم دوم</label>
                                    <input type="text" asp-for="ColumnOneItemTwoLink" class="form-control" />
                                </div>
                                <div class="col-6  mt-2">
                                    <label>لینک آیتم دوم</label>
                                    <input type="text" asp-for="ColumnTwoItemTwoLink" class="form-control" />
                                </div>

                            </div>


                            <div class="row mt-3">
                                <div class="col-3">
                                    <label>عنوان فارسی آیتم سوم (فارسی)</label>
                                    <input type="text" asp-for="ColumnOneItemThreeTitleFa" class="form-control" />
                                </div>
                                <div class="col-3">
                                    <label>عنوان فارسی آیتم سوم (انگلیسی)</label>
                                    <input type="text" asp-for="ColumnOneItemThreeTitleEn" class="form-control" />
                                </div>

                                <div class="col-3">
                                    <label>عنوان فارسی آیتم سوم (فارسی)</label>
                                    <input type="text" asp-for="ColumnTwoItemThreeTitleFa" class="form-control" />
                                </div>
                                <div class="col-3">
                                    <label>عنوان فارسی آیتم سوم (انگلیسی)</label>
                                    <input type="text" asp-for="ColumnTwoItemThreeTitleEn" class="form-control" />
                                </div>

                                <div class="col-6 mt-2">
                                    <label>لینک آیتم سوم</label>
                                    <input type="text" asp-for="ColumnOneItemThreeLink" class="form-control" />
                                </div>
                                <div class="col-6  mt-2">
                                    <label>لینک آیتم سوم</label>
                                    <input type="text" asp-for="ColumnTwoItemThreeLink" class="form-control" />
                                </div>

                            </div>

                            <div class="row mt-3">
                                <div class="col-3">
                                    <label>عنوان فارسی آیتم چهارم (فارسی)</label>
                                    <input type="text" asp-for="ColumnOneItemFourTitleFa" class="form-control" />
                                </div>
                                <div class="col-3">
                                    <label>عنوان فارسی آیتم چهارم (انگلیسی)</label>
                                    <input type="text" asp-for="ColumnOneItemFourTitleEn" class="form-control" />
                                </div>

                                <div class="col-3">
                                    <label>عنوان فارسی آیتم چهارم (فارسی)</label>
                                    <input type="text" asp-for="ColumnTwoItemFourTitleFa" class="form-control" />
                                </div>
                                <div class="col-3">
                                    <label>عنوان فارسی آیتم چهارم (انگلیسی)</label>
                                    <input type="text" asp-for="ColumnTwoItemFourTitleEn" class="form-control" />
                                </div>

                                <div class="col-6 mt-2">
                                    <label>لینک آیتم چهارم</label>
                                    <input type="text" asp-for="ColumnOneItemFourLink" class="form-control" />
                                </div>
                                <div class="col-6  mt-2">
                                    <label>لینک آیتم چهارم</label>
                                    <input type="text" asp-for="ColumnTwoItemFourLink" class="form-control" />
                                </div>

                            </div>








                        </div>
                    </div>
                </div>



                <div class="mt-3">
                    <button type="submit" class="btn btn-sm text-white btn-success">ثبت</button>

                </div>
            </form>
        </div>
    </div>
</div>
