@model Application.Queries.Setting.ViewModels.IntroductionVieModel
<section class="mt-5">
@*     <div class="video-title">
        <h2 class="section-title"> @Localizer["Title"] </h2>
        <p>@Localizer["Description"] </p>
    </div> *@
    <div class="video-main">
        <div class="container mt-5">
            @* <div class="video-bg-img video-sec text-center videoSize">
                @Html.Raw(Model.LinkVideo)
            </div> *@
            @await Component.InvokeAsync("StatisticComponent")
        </div>
    </div>
</section>
