@model IReadOnlyList<Application.Queries.Slider.SliderViewModel>


<section class="section">
    <div class="container-fluid mt-3 mb-3">


<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        @if (Model is not null)
        {
            @foreach (Application.Queries.Slider.SliderViewModel item in Model)
            {
                <div class="swiper-slide">
                    <a href="@item.Link">
                        <img alt="@@item.Alt" title="@item.Title"
                             style="width: 100%;" src="~/gallery/Slider/@item.ImagePath">
                    </a>
                </div>
            }

        }

        <!-- می‌توانید اسلایدهای بیشتری اضافه کنید -->
    </div>
    <!-- خدمات اضافه مثل navigation و pagination -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
</div></section>
<style>
    .swiper-slide img {
        width: auto; /* عرض بر اساس اندازه تصویر */
        height: auto; /* ارتفاع بر اساس اندازه تصویر */
        max-width: 100%; /* حداکثر عرض برابر با عرض اسلایدر */
        display: block; /* برای حذف فاصله‌های اضافی */
    }
</style>

<script>
    var swiper = new Swiper('.mySwiper', {
        loop: true,
        autoplay: {
            delay: 3000, // زمان توقف هر اسلاید به میلی‌ثانیه (اینجا 3 ثانیه)
            disableOnInteraction: false, // اجازه می‌دهد اسلایدر هنگام کلیک یا حرکت کاربر متوقف نشود
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
