@{
    string align = CultureInfo.CurrentUICulture.Name! == "en-US" ? "ltr" : "rtl"!;

    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Script{
    <script src="~/js/news.js"></script>
    <script src="~/js/rest.js"></script>

}
<div class="container ">
    <div class="row text-center mt-5">
        <h3 class="mg-t-70">@Localizer["title"]</h3>
        <p>@Localizer["text"]</p>
        <input type="hidden" id="culture" value="@align" />

        @await Component.InvokeAsync("NewsCategoryComponent")


     
    </div>
</div>

