@inject IViewLocalizer Localizer
@{
    string align = CultureInfo.CurrentUICulture.Name! == "en-US" ? "ltr" : "rtl"!;

    ViewData["Title"] = Localizer["PageTitle"];
}

@section Style {
    <script src="~/js/index.js"></script>
}
@await Component.InvokeAsync("SliderComponent") 
@await Component.InvokeAsync("FeatureComponent")
@await Component.InvokeAsync("LastNewsComponent")


@await Component.InvokeAsync("AboutComponent")
@* <section class="health-care">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mob-disp" dir="@align">
            <div class="d-flex justify-content-between align-items-center">
                <img style="direction:ltr" src="~/assetsUi/img/health-care-icon.png" alt="Health Care" />
                <div class="health-care-text">
                    <h3>@Localizer["ContactUsTitle"]</h3>
                    <p>@Localizer["ContactUsText"]</p>
                </div>
            </div>
            <a href="/contactus" class="btn btn-primary">@Localizer["ContactUsBtn"]</a>
        </div>
    </div>
</section> *@
@* @await Component.InvokeAsync("LastArticleComponent") *@
@await Component.InvokeAsync("IntroductionComponent")
<section class="our-customer-says">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/assetsUi/img/testimonial-img.png" class="img-fluid" alt="Testimonial" />
            </div>
            <div class="col-md-6">
                @await Component.InvokeAsync("FeedbackComponent")

            </div>
        </div>
    </div>
</section>
@await Component.InvokeAsync("PartnerComponent")
