@model Application.Commands.Role.DataTransferObject.RoleDto
@{
    ViewData["Title"] = "ایجاد نقش";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Script{
    <partial name="_ValidationScriptsPartial.cshtml"/>
}
<nav aria-label="breadcrumb">
    <ol class="lh-1-85 breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Admin">پیشخوان</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/Admin/Role/Index">لیست نقش ها</a>
        </li>

        <li class="breadcrumb-item active">ایجاد نقش </li>
    </ol>
</nav>

<div class="row">
    <div class="col-4 offset-4">
        <div class="card mb-4">
            <h5 class="card-header heading-color">ایجاد نقش</h5>
            <form asp-area="Admin" asp-controller="Role" asp-action="Create" method="post" class="card-body">

                <div>
                    <label class="form-label">نام </label>
                    <input asp-for="PersianName" type="text" class="form-control" />
                    <span class="text-danger" asp-validation-for="PersianName"></span>
                </div>
                <div>
                    <label class="form-label">نام سیستمی</label>
                    <input asp-for ="Name" type="text" class="form-control" />
                    <span class="text-danger" asp-validation-for="Name"></span>
                    <div class="form-text">
                      نام سیستمی باید انگلیسی باشد
                    </div>
                </div>
            <div class="mt-3">
                    <button type="submit" class="btn btn-sm text-white btn-success">ثبت</button>
                    <a asp-area="Admin" asp-controller="Role" asp-action="Index" class="btn btn-sm text-white btn-warning">بازگشت</a>

                </div>   
            </form>
        </div>
    </div>
</div>