
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Script{
    <script src="~/js/rest.js"></script>
    <script src="~/assets/js/role/Index.js"></script>
}
<h1>Index</h1>
<a onclick="Delete()" class="btn btn-sm btn-info">Test</a>
