@page

@model WebUI.Areas.Admin.Pages.Role.CreateModel

@{
    var breadcrumbItems = new List<BreadcrumbItem>
    {
        new BreadcrumbItem { Area="Admin",Folder="Dashboard",Page="Index", Text = "پیشخوان" },
        new BreadcrumbItem { Area="Admin",Folder="Role",Page="Index", Text = "نقش ها" },
        new BreadcrumbItem {  Text = "ایجاد نقش کاربری", IsActive = true }
    };
}

<adminbreadcrumb items="breadcrumbItems"></adminbreadcrumb>


<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 offset-xl-4 offset-lg-4 offset-md-3 ">
        <div class="card mb-4">

            <div class="card-header d-flex flex-column justify-content-between align-items-left">
                @if (!string.IsNullOrEmpty(Model.Message))
                {

                    <div class="alert alert-warning ">
                        @Model.Message
                    </div><br/>
                }
                <h5 class="mb-0">ایجاد نقش کاربری</h5>
               
            </div>

            <div class="card-body">
                <form id="myForm" method="post">
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">نام </label>
                        <input asp-for="Role.PersianName"  type="text" class="form-control" id="basic-default-fullname">
                        <span class="text-danger" asp-validation-for="Role.PersianName"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">نام سیستمی</label>
                        <input type="text" asp-for="Role.Name" class="form-control" id="basic-default-fullname">
                        <span class="text-danger" asp-validation-for="Role.Name"></span><br />
                        <span>نام سیستمی باید انگلیسی باشد</span>

                    </div>
                   
                    <button type="submit" class="btn btn-primary btn-sm">ثبت</button>
                    <a asp-area="Admin" asp-page="/Role/Index" class="btn btn-warning btn-sm">بازگشت</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Script{
    <partial name="/Areas/Admin/Pages/Shared/_ValidationScriptsPartial.cshtml" />

}