<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<title>داک کیور - جراحی</title>
<link type="image/x-icon" href="~/assetsUi/img/favicon.png" rel="icon">
<link rel="stylesheet" href="~/assetsUi/css/bootstrap.rtl.min.css">
<link rel="stylesheet" href="~/assetsUi/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="~/assetsUi/plugins/fontawesome/css/all.min.css">
<link rel="stylesheet" href="~/assetsUi/css/style.css">


<link rel="stylesheet" href="~/swiper/swiper-bundle.min.css" />

<script src="~/swiper/swiper-bundle.min.js"></script>