@model Application.Commands.Document.DocumentDto
@{
    ViewData["Title"] = "ایجاد مستند";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Script {
    <script src="~/assets/js/upload.js"></script>
    <partial name="_ValidationScriptsPartial.cshtml" />
}

<nav aria-label="breadcrumb">
    <ol class="lh-1-85 breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Admin">پیشخوان</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-area="Admin"
               asp-controller="Option"
               asp-action="Index" 
               asp-route-ProductId="@ViewBag.ProductId">لیست مستندات</a>
        </li>

        <li class="breadcrumb-item active">ایجاد مستند </li>
    </ol>
</nav>


<div class="row">
    <div class="col-4 offset-4">
        <div class="card mb-4">
            <h5 class="card-header heading-color">ایجاد مستند</h5>
            <form asp-area="Admin" asp-controller="Document"
                  enctype="multipart/form-data"
                  asp-action="Create" method="post" class="card-body">

              
                <div>
                    <label class="form-label">انتخاب فایل</label>
                    <input asp-for="File" class="form-control" type="file" />
                </div>
                <div>
                    <label class="form-label">عنوان فارسی </label>
                    <input asp-for="TitleFa" type="text" class="form-control" />
                    <span class="text-danger" asp-validation-for="TitleFa"></span>
                </div>

                <div>
                    <label class="form-label">عنوان انگلیسی </label>
                    <input asp-for="TitleEn" type="text" class="form-control" />
                    <span class="text-danger" asp-validation-for="TitleEn"></span>
                </div>
               <input type="hidden" asp-for="ProductId"/>
               
                <div class="mt-3">
                    <button type="submit" class="btn btn-sm text-white btn-success">ثبت</button>
                    <a asp-area="Admin" asp-controller="Document" 
                    asp-action="Index"
                       asp-route-ProductId="@ViewBag.ProductId"
                       class="btn btn-sm text-white btn-warning">بازگشت</a>

                </div>
            </form>
        </div>
    </div>
</div>