<!DOCTYPE html>
<html lang="en">
<head>
   <partial name="Partial/_HeadTags.cshtml"/>
   @await RenderSectionAsync("Style",false)
</head>
<body>
    <div class="main-wrapper">
        <partial name="Partial/_TopHeader.cshtml" />
        <partial name="Partial/_Header.cshtml" />
       
        @RenderBody()
        <partial name="Partial/_Footer.cshtml" />
    </div>
    <partial name="Partial/_Scripts.cshtml" />
    @await RenderSectionAsync("Script", false)
   </body>
</html>