<!DOCTYPE html>
<html lang="fa">
<head>
   <partial name="Partial/_HeadTags.cshtml"/>
   @await RenderSectionAsync("Style",false)
</head>
<body>
    <div class="main-wrapper">
        @await Component.InvokeAsync("TopHeaderComponent")
        <partial name="Partial/_Header.cshtml" />
       
        @RenderBody()
        <partial name="Partial/_Footer.cshtml" />
    </div>
    <partial name="Partial/_Scripts.cshtml" />
    @await RenderSectionAsync("Script", false)
    @if (CultureInfo.CurrentCulture.Name != "en-US")
    {
        <!-- آیکون چت -->
        <div class="chat-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
                <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                <path d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z" />
            </svg>
        </div>

        <!-- پنجره چت -->
        <div class="chat-popup">
            <div class="chat-header d-flex justify-content-between align-items-center">
                <h5 class="m-0 fw-bold text-white">پشتیبانی آنلاین</h5>
                <button class="close-chat btn btn-sm text-white border-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                    </svg>
                </button>
            </div>

            <div id="popup-chat-messages">
                <div class="message support-message">
                    سلام! چطور می‌توانم به شما کمک کنم؟
                </div>
            </div>

            <div class="chat-input">
                <form id="chat-form" class="d-flex">
                    <input type="text" id="messageChatBox" class="form-control chat-input-field me-2" placeholder="پیام خود را بنویسید...">
                    <button onclick="SendMessageHub()" type="button" class="btn btn-primary chat-submit-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
                        </svg>
                    </button>
                </form>
            </div>
        </div>


    }

   </body>
</html>