@model Application.Commands.Page.PageDto
@{
    ViewData["Title"] = "ایجاد صفحه";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@section Style {
    <script src="~/ckeditor/ckeditor.js"></script>
}
@section Script {

    <script src="~/assets/js/upload.js"></script>
    <script src="~/assets/js/Page/create.js"></script>
    <partial name="_ValidationScriptsPartial.cshtml" />
}
<nav aria-label="breadcrumb">
    <ol class="lh-1-85 breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Admin">پیشخوان</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/Admin/Page/Index">صفحات</a>
        </li>

        <li class="breadcrumb-item active">ایجاد صفحه </li>
    </ol>
</nav>

<div class="row">
    <div class="col-10 offset-1">
        <div class="card mb-4">
            <div class="card-header">

                <h5 class=" heading-color">ایجاد صفحه</h5>
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.ErrorMessage
                    </div>
                }
            </div>
            <form asp-area="Admin" asp-controller="Page" asp-action="Create"
                  method="post" class="card-body" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-12">
                        <img id="imagePath_1" width="100" height="80" src="~/Gallery/default.jpg" />
                    </div>
                    <div class="col-3">
                        <label class="form-label">تصویر</label>
                        <input asp-for="File" accept=".jpg, .jpeg, .png, .webp" onchange="ChangeImage(this,1)" class="form-control" type="file" />
                    </div>
                </div>
                <div class="row">

                    <div class="col-6">
                        <label class="form-label">عنوان فارسی</label>
                        <input asp-for="TitleFa" type="text" class="form-control" />
                        <span class="text-danger" asp-validation-for="TitleFa"></span>
                    </div>

                    <div class="col-6">
                        <label class="form-label">عنوان انگلیسی</label>
                        <input asp-for="TitleEn" type="text" class="form-control" />
                        <span class="text-danger" asp-validation-for="TitleEn"></span>
                    </div>
                    


                </div>
                <div class="col-sm-6">
                  
                    <label class="switch">
                        <input type="checkbox" asp-for="IsShowOnMenu" class="switch-input">
                        <span class="switch-toggle-slider">
                            <span class="switch-on"></span>
                            <span class="switch-off"></span>
                        </span>
                        <span class="switch-label">نمایش در منو سربرگ</span>
                    </label>
                </div> 
                
                <div class="col-sm-6">
                  
                    <label class="switch">
                        <input type="checkbox" asp-for="IsActivePage" class="switch-input">
                        <span class="switch-toggle-slider">
                            <span class="switch-on"></span>
                            <span class="switch-off"></span>
                        </span>
                        <span class="switch-label">فعال شدن صفحه</span>
                    </label>
                </div>


                <div class="col-12">
                    <label class="form-label">متن فارسی</label>
                    <textarea asp-for="DescriptionFa" id="TextFa"
                              type="text" class="form-control" rows="7">
                                                  </textarea>
                    <span class="text-danger" asp-validation-for="DescriptionFa"></span>
                </div>

                <div class="col-12">
                    <label class="form-label">متن انگلیسی</label>
                    <textarea asp-for="DescriptionEn" id="TextEn"
                              type="text" class="form-control" rows="7">
                                                  </textarea>
                    <span class="text-danger" asp-validation-for="DescriptionEn"></span>
                </div>
                <div class="col-12">
                    <label class="form-label">انتخاب صفحه والد</label>
                    <select class="form-select" asp-for="ParentPageId">
                        <option disabled="" selected="">یک گزینه انتخاب کنید</option>
                        @if (ViewBag.Parents != null)
                        {
                            foreach (var item in ViewBag.Parents as 
                            List<ItemGeneric<Guid, string>>)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        }

                    </select>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-sm text-white btn-success">ثبت</button>
                    <a asp-area="Admin" asp-controller="Page" asp-action="Index" class="btn btn-sm text-white btn-warning">بازگشت</a>

                </div>
            </form>
        </div>
    </div>
</div>


